<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OGDRegistratieWF.Properties.Settings.OGDRegistratieConnectionString"
            connectionString="Data Source=|DataDirectory|\OGDRegistratie.sdf;Password=Punctur3!;Persist Security Info=True"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>